<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="overlay"></div>
  <div id="alertBox" class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button id="closeAlert" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>


<!-- Script pour l'overlay -->
<script>
  // Sélectionnez l'élément de bouton de fermeture de l'alerte
  var closeAlertButton = document.getElementById('closeAlert');
  // Ajoutez un écouteur d'événements pour le clic sur le bouton de fermeture
  closeAlertButton.addEventListener('click', function() {
    // Sélectionnez l'élément de l'overlay et masquez-le
    var overlay = document.querySelector('.overlay');
    overlay.style.display = 'none';
  });
</script>
