<div class="mx-auto my-2" style="width: 400px">
  <%= form_with url: paints_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control search-field",
          placeholder: "Rechercher"
      %>
    <div class="ms-2">
    <%= button_tag type: 'submit', class: "btn search-loupe" do %>
    <i class="fa-solid fa-magnifying-glass search-loupe-icon" style="font-size: 1.5rem"></i>
    <% end %>
    </div>
  <% end %>
</div>
