<%# <h1>Pages#home</h1> %>

<div class="container">
  <h4 class="margin-top-20 margin-bottom-20">Trouvez le mouvement artistique qui vous convient</h4>
  <div class="cards-grid">
    <div class="mouv-cards" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1580136608260-4eb11f4b24fe?q=80&w=1926&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
      <p class=white>Impressionnisme</p>
    </div>
    <div class="mouv-cards" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/522750585/fr/photo/collage-abstrait.jpg?s=1024x1024&w=is&k=20&c=BaV4F7n11liynkmYRsM53Od2MLHbc-rlOFOZzflI4l0=)">
      <p class=white>Cubisme</p>
    </div>
</div>

  <h4 class="margin-top-20 margin-bottom-20">Des artistes qui pourraient vous plaire</h4>
    <div class="cards-grid">
        <div class="mouv-cards" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1626243048488-f224f98c4784?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
          <p class=white>Van Gogh</p>
        </div>
        <div class="mouv-cards" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.cognac-art.com/img/uploads/2022/05/280138040-1167946707107106-7390168707877635124-n.jpg)">
          <p class=white>Alain Beraud</p>
        </div>
    </div>
<div>
