  <%# <div class="container">
        <nav class="navbar navbar-light bg-light row justify-content-center">
        <div class="col-lg-6">
                    <div class="input-group">
                <input class="form-control form-control-lg border-end-0 border border-dark rounded-pill rounded-end" type="text" placeholder="Rechercher"/>
                <span class="input-group-append">
                    <button class="btn btn-outline-dark btn-lg border-start-0 rounded-pill rounded-start" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
           </div>
        </div>
        </nav>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h2>Trouvez le mouvement artistique qui vous convient</h2>

      </div>
    </div>

  </div> %>
