.button-menu {
  border: 1px solid #BBBBBB;
  font-size: 18px;
  border-radius: 25px;
  padding: 0.4em 0.8em;
  cursor: pointer;
  width: 90px;
  height: 47px;
  display: flex;
  justify-content: space-between;
}

.button-menu i {
  color: #777777;
  margin: auto;
  padding: 8px 0;
}

.button-menu:hover {
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.trois-button {
  background-color: transparent;
  border: none;
  color: $dark;
}


.trois-button:hover {
  background: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.05));
  border: none;
  color: $dark;
}

.trois-button.active {
  background-color: transparent;
  border: none;
  color: $darker /* Changez la couleur du texte pour la classe active */
}

.trois-button.active:hover {
  background: none;
  color: $darker; /* Assurez-vous que la couleur reste inchangée */
}
