@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.category h4 {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  text-decoration: underline;
  color: #a89987;
  text-align: center;
  padding-bottom: 6px;
}

.category h5 {
  text-align: center;
}
