.mouv-cards {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
}

.mouv-cards:hover {
  transform: scale(1.05);
}
