// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .brand-name {
    display: none;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .brand-name {
    display: none;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .brand-name {
    display: flex;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .brand-name {
    display: flex;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .brand-name {
    display: flex;
  }
}
