// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .brand-name {
    display: none;
  }
  .proposer-peinture {
    display: none;
  }
  .logo-et-brand {
    width: 90px;
  }
  .navbar-haut {
    display: none;
  }
  .navbar-mobile {
    display: flex
  }
  .body-responsive {
    margin-top: 85px;
    margin-bottom: 100px;
  }
  .search-bar-mobile {
    display: flex;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .brand-name {
    display: none;
  }
  .proposer-peinture {
    display: none;
  }
  .logo-et-brand {
    width: 90px;
  }
  .navbar-haut {
    display: none;
  }
  .navbar-mobile {
    display: flex
  }
  .body-responsive {
    margin-top: 85px;
    margin-bottom: 100px;
  }
  .search-bar-mobile {
    display: flex;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .brand-name {
    display: none;
  }
  .proposer-peinture {
    display: none;
  }
  .logo-et-brand {
    width: 90px;
  }
  .navbar-haut {
    display: flex;
  }
  .navbar-mobile {
    display: none
  }
  .body-responsive {
    margin-top: 140px;
    margin-bottom: 50px;
  }
  .search-bar-mobile {
    display: none;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .brand-name {
    display: none;
  }
  .proposer-peinture {
    display: none;
  }
  .logo-et-brand {
    width: 90px;
  }
  .navbar-haut {
    display: flex;
  }
  .navbar-mobile {
    display: none
  }
  .body-responsive {
    margin-top: 140px;
    margin-bottom: 50px;
  }
  .search-bar-mobile {
    display: none;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .brand-name {
    display: flex;
  }
  .proposer-peinture {
    display: flex;
  }
  .logo-et-brand {
    width: 284px;
  }
  .navbar-haut {
    display: flex;
  }
  .navbar-mobile {
    display: none
  }
  .body-responsive {
    margin-top: 140px;
    margin-bottom: 50px;
  }
  .search-bar-mobile {
    display: none;
  }
}
