.text-on-card-index {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}

.space-beetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: s;
}


#marginRight {
  margin-right: 5px;
}
